.content{
  background-image: url("./Assets/log.jpg");
  width: 80px;
  height: 80px;
  border-radius: 25%;
  background-size: cover;
  padding: 5px;
  background-origin: content-box;
  background-position: center;
}
.img{
  width: 170px;
  height: 50px;
  background-image: url("./Assets/text.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.kan{
  width: 95vw;
  height: 80vh;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  justify-content: space-evenly;
  padding: 15px;
}
.movies{
  width: 60vw;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.categories{
  width: 20vw;
}
.box{
  width: 14vw;
  height: 55vh;
}
.sur{
  width: 100%;
  height: 40vh;
}
.btn{
  border-radius: 10px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.btn1{
  padding: 10px;
  background-color: rgba(0,0,0,0.82);
  border: none;
  transition: 0.3s;
  color: white;
}
.btn2{
  background-color: rgba(0,158,180,0.79);
}
.trend{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}