.img {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.boss {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.cardi {
    width: 100%;
    height: 100% !important;
}

.cardimg {
    width: 100%;
    height: 55%;
}

.svg {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    border: 10px solid rgba(255, 86, 173, 0.67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgboss {
    width: 50vw;
    height: 125vh;
    display: flex;
    justify-content: space-around;
    margin: 4vh;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    height: 100%;
    padding: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.text{
    font-weight: bolder;
    margin-top: 5vh;
    font-size: 19px;
}
