
.products{
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content{
  height: 90% !important;
  margin: 5vh 0;
}
.title{
  width: 100%;
  height: 50%;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount{
  position: absolute;
  padding: 5px;
  border-radius: 15%;
  color: white;
  background-color: darkred;
}
.d1{
  top: 1vh;
  right: 1vw;
}
.d2{
  top: 3vh;
  right: 1vw;
}
.knopka{
  display: flex;
  justify-content: space-between;
}
.tovar{
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 25px;
  overflow: hidden;
}
