.spisok{
  margin: auto;
  width: 60vw;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
}
.id{
  width: 15vw;
}
.act{
  width: 8vw;
  text-align: center;
}
.c{
  font-family: 'Electrolize', sans-serif;
  font-weight: bold;
}
.s{
  font-family: 'Cormorant SC', serif;
  font-weight: bolder;
}
.clear{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}